<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777133209264-doss012hiidabrpsf8u1q386ni4ammh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777133209264-doss012hiidabrpsf8u1q386ni4ammh2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>777133209264-tcdgn6n4n3vgf9tr93fln4v0j118ipi8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxnvkGofJm2NZ7Ku-ycI-4n81ffNg5hc8</string>
	<key>GCM_SENDER_ID</key>
	<string>777133209264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.engma.ecopark-ios</string>
	<key>PROJECT_ID</key>
	<string>ecoparking-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>ecoparking-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777133209264:ios:28aaa72a00db2ae3c86d75</string>
	<key>DATABASE_URL</key>
	<string>https://ecoparking-dev.firebaseio.com</string>
</dict>
</plist>