<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>449832028116-namnj8rok34pvmo2jlsgprp8ki68ja39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.449832028116-namnj8rok34pvmo2jlsgprp8ki68ja39</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>449832028116-9h30ej0260qu2me4e7t4ok0fiuvjut68.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDPoQe4Gjz8jIyiDYzugeHspDXNqdXWtA4</string>
	<key>GCM_SENDER_ID</key>
	<string>449832028116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.engma.ecopark-ios</string>
	<key>PROJECT_ID</key>
	<string>ecoparking-27dcf</string>
	<key>STORAGE_BUCKET</key>
	<string>ecoparking-27dcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:449832028116:ios:c59c84cd7438cc710b7841</string>
	<key>DATABASE_URL</key>
	<string>https://ecoparking-27dcf.firebaseio.com</string>
</dict>
</plist>